@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$background: #001f3f;
$navbar: #003366;
$burgermenu: #004080;
$font-color: #e9e9e9;
$font-highlight: #00509e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

html,
body {
    height: 100%
}

body {
    background-color: $background;
}

.container {
    padding-top: 40px;
    max-width: 1200px;
    margin: auto;
}

// NAVIGATION START
nav {
    position: fixed;
    top: 40px;
    left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
    margin: auto;
    background-color: $navbar;
    width: 50%;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    box-shadow: 1px 1px 5px black;

    img {
        width: 45px;
        margin-left: 10px;
        animation: moveRotate 5s infinite linear;
    }

    @keyframes moveRotate {
        0% {
            transform: translateX(0) rotate(0) scale(0.9);
        }

        50% {
            transform: translateX(50px) rotate(180deg) scale(1.2);
        }

        100% {
            transform: translateX(0) rotate(360deg) scale(0.9);
        }
    }

    .burger-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        position: relative;

        .burger-icon {
            cursor: pointer;
            z-index: 10;
            background-color: transparent;
            border: none;
            margin: 5px 20px 0 0;

            &.open {
                .bar {
                    margin-right: 5px;

                    &:first-child {
                        transform: rotate(-45deg) translateY(0.6rem);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: rotate(45deg) translateY(-0.65rem);
                    }
                }
            }

            .bar {
                display: block;
                width: 1.5rem;
                height: 0.2rem;
                background-color: $font-color;
                margin-bottom: 0.3rem;
                transition: all 0.5s;
            }
        }

        .menu-overlay {
            position: absolute;
            top: 60px;
            right: 0;
            background-color: $burgermenu;
            border-radius: 0 30px 30px 30px;
            z-index: 9999;

            .menu-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 180px;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1rem;
                    border-bottom: 1px solid $font-color;
                    width: 90%;
                    margin: 10px 20px 0 20px;
                    list-style: none;

                    &:last-child {
                        border: none;
                        margin-bottom: 7px;
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// NAVIGATION END

// HEADER GALLERY START
.hero-gallery {
    margin-top: 80px;
    position: relative;
    z-index: 0;

    img {
        width: 85%;
        margin: auto;
        display: block;
        border-radius: 20px;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px #000;
    }

    .gallery-bullets {
        display: flex;

        li {
            width: 20px;
            height: 20px;
            background-color: $font-color;
            border-radius: 20px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 40px;
            list-style: none;

            &:hover {
                cursor: pointer;
            }
        }

        li:nth-child(1) {
            margin-right: 50px;
        }

        li:nth-child(2) {
            margin-right: 50px;
        }

        li:nth-child(3) {
            margin-right: 50px;
        }

        li:nth-child(4) {
            margin-right: 50px;
        }

        li.active {
            background-color: yellow;
        }
    }
}

// HEADER GALLERY END

// UPCOMING SHOWS START
.upcomingShows {
    display: flex;
    margin-top: 80px;
    padding: 20px 0 20px 40px;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    background-color: $navbar;

    ul {
        li {
            font-size: 1.2rem;
            padding: 5px 0 5px 0;
        }
    }
}

// UPCOMING SHOWS END

// ABOUT START
.about {
    position: relative;
    margin-top: 80px;
    padding-bottom: 100px;

    .parallax {
        border-radius: 20px;
        background-image: url("../images/pexels-wendy-wei-1699161.jpg");
        height: 100%;
        min-height: 200vh;
        width: 100%;
        margin: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin: auto;
        padding: 20px 0 20px 20px;
        border-radius: 20px;
        opacity: 0.7;
        background-color: $navbar;
        box-shadow: 1px 2px 5px black;

        p {
            font-size: 1.1rem;
            color: $font-color;
            padding: 10px 0;
        }
    }
}

// ABOUT END

// CONTACT START
.news {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    background-color: $navbar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;

    p {
        width: 90%;
        margin: auto;

        span {
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
        }
    }

    input {
        color: $font-color;
        background-color: transparent;
        border: none;
        text-align: center;
        padding: 10px;
        width: 80%;
        margin: 10px;
        font-size: 1.2rem;

        &::placeholder {
            color: $font-color;
            opacity: 0.8;
        }
    }

    input[type=email] {
        background-color: $font-highlight;
        border-radius: 10px;
    }

    input[type=submit] {
        background-color: $font-highlight;
        border-radius: 10px;
        cursor: pointer;
    }
}

// CONTACT END

//FOOTER START
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $navbar;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    opacity: 80%;
    padding: 20px 0 20px 0;
    z-index: 1;

    h2 {
        color: $font-color;

        span {
            color: $font-highlight;
        }
    }
}

// FOOTER END

@media (max-width: 600px) {}